
/* background-color: #2f4b27; */
/* post items */
.editBtn {
    color: #2f4b27;
    font-size: 16px;
    padding: 6px 30px;
    border: none;
    margin: 10px;
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
}

.editBtn:hover {
    background-color: #3e885c8a;
    box-shadow: 0px 0px 13px 0px #3e885b;
    cursor: pointer;
}

.editBtn:active {
    background-color: #2f4b27;
}

.deleteBtn {
    background-color: white;
    color: red;
    font-size: 16px;
    padding: 6px 30px;
    border: none;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.deleteBtn:hover {
    cursor: pointer;
    background-color: rgb(249, 166, 166);
    color: red;
    font-size: 16px;
    padding: 6px 30px;
    border: none;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 13px 0px red;
}

.deleteBtn:active {
    cursor: pointer;
    background-color: red;
    color: red;
    font-size: 16px;
    padding: 6px 30px;
    border: none;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px red;
}