
.postItem {
    max-width: 850px;
    margin: 2rem auto;
    border-radius: 14px;
    background-color: #3e885b;
    padding: 5px;
}

.innerPostItem {
    background-color: white;
    border-radius: 23px;
    padding: 1rem;
}


.postItem img{
    border-radius: 10px;
}

.postItemImage {
    max-width: 200px;
}


#postItemTitle>.MuiGrid-root{
    align-items: center;
}

.postItemTitle{
    font-size: 23px;

}

.postItemHead {
    font-size: 20px
}

.postItemData {
    font-weight: bold;
}

.postContentItem:hover, .linkToPost:hover {
    cursor: pointer;
    text-decoration-line: underline;
}
