.newCommentField{
    border-radius: 5px;
    width: 98%;
    font-size: 18px;
    height: 100px;
    resize: none;
    padding: .5rem
}

@media only screen and (max-width: 750px) {
.newCommentField {
    max-width: 350px;
}
}
@media only screen and (max-width: 600px) {
    .newCommentField {
      max-width: 250px;
    }
  }

@media only screen and (max-width: 380px) {
.newCommentField {
    max-width: 220px;
}
}


.parentComment{
    margin-top: 25px;
    padding: .25rem 2rem;
    margin-left: 2rem;
    overflow-wrap: break-word;
}

.childComment{
    text-align: left;
    overflow-wrap: break-word;
    padding: .25rem 2rem;

}

.commentHeader>.MuiGrid-root{
align-items: center;
}

.parentCommentTop {
    width: 100%;
    height: 7px;
    background-color: #f65600;
    margin-bottom: 25px;
    margin: auto;
    border-radius: 5px;
}

.replyCommentTop {
    width: 100%;
    height: 2px;
    background-color: #f65600;
    border-radius: 5px;
}

.parentCommentBottom {
    width: 100%;
    height: 2px;
    background-color: #f65600;
    margin-bottom: 25px;
    margin: auto;
    border-radius: 5px;
}
.childCommentBottom {
    width: 100%;
    height: 2px;
    background-color: #f65600;
    margin-bottom: 25px;
    margin: auto;
    border-radius: 5px;
}

.commentUserName {
    padding-bottom: .5rem;
    color: blue;
    font-size: 20px;
    font-weight: bold;
    margin-right: 1rem;
}

.commentDate {
    padding-bottom: .5rem;
    font-size: 20px;
    font-style: italic;
    margin-right: 1rem;
}

.commentContent {
    font-size: 18px;
    margin: .5rem auto 1rem auto;
}

.replyTextArea {
    width: 500px;
    height:40px;
    padding: .5rem;
    font-size: 18px;
    resize: none;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 8px;
}

.editCommentTextArea {
    width: 100%;
    height:40px;
    padding: .5rem;
    font-size: 18px;
    resize: none;
    border-radius: 5px;
    margin-left: 8px;
}

.newCommentField {
    width: 600px;
    height:100px;
    padding: .5rem;
    font-size: 18px;
    resize: none;
    border-radius: 5px;
    margin-left: 4rem;
}

.newCommentHeader {
    margin-left: 4rem;
}




