.imgContainer{
    max-width: 450px;
    border-radius: 10px;
}

.postDetailsContainer{
    max-width: 1000px;
    margin: 2rem auto;
    border: 2px solid black;
    border-radius: 14px;
    background-color: #dedede;
    padding: 3px;
}

.commentsContainer {
    max-width: 1000px;
    margin: auto;
    border: 1px solid black;
    padding: 2rem
}

.postDetailsTitle {
    font-size: 40px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.postItemDataDetails {
    font-weight: bold;
}

.detailsData {
    margin-bottom: 45px;
    font-size: 22px;

}

.detailsData.top {
    margin-top: 20px;
}

.postContent {
    font-size: 22px;
    margin-top: 2rem;
}

.username {
    color: blue;
    font-weight: bold;
}

.detailsHeader {
    font-size: 25px;
}

.postDate {
    font-style: italic;
}